@model NovaTech.ViewModels.HomeVM
			@{
				ViewData["Title"] = "Home";
				string BackgroundColor(string cor)
				{
					return cor.Replace("1)", "0.75)");
				};
			}

			<div class="pt-5 container">
				<div class="row">
					<div class="col mx-auto text-center">
						<h1 class="display-4 text-white">Nova Tech</h1>
						<div class="my-3">
							<button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter" onclick="filter('')">
								Ver Todos
							</button>

							@foreach (var categoria in Model.Categorias)
							{
								<button id="btn-@categoria.Nome" class="btn btn-sm my-2 text-white btn-filter"
									style="background-color:@categoria.Id" onclick="filter('@categoria.Nome')">@categoria.Nome</button>
							}
						</div>
					</div>
				</div>

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

					@foreach (var produto in Model.Produtos)
					{
						<!-- Card Pokemon - Inicio -->
						<div class="col poke @string.Join(' ', produto.Categoria_id.Select(t => t.Categoria_id.nome))">
							<a asp-action="Details" asp-route-id="@produto.Id" class="text-decoration-none">
								<div class="card" style="background-color: @BackgroundColor(produto.Categorias.ToArray()[0].produto.Cor)">
									<img src="@produto.Imagem" class="card-img-top" alt="@produto.Nome" />
									<div class="card-body">
										<h5 class="card-text mb-1 text-white">Nº @produto.Id.ToString("000")</h5>
										<h3 class="card-title text-dark">@produto.Nome</h3>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex gap-2 my-2">
												@foreach (var tipo in produto.Categoria_id)
												{
													<a href="#" class="btn text-white"
														style="background-color:@produto.Categoria">@produto.Categoria.Nome</a>
												}
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!-- Card Pokemon - Fim -->
					}
				</div>
				<div id="zeroProduto" class="col-lg-12 text-center d-none mt-5" style="height: 350px;">
					<h1 class="my-3 text-danger">Nenhum Produto Encontrado</h1>
				</div>
			</div>

			@section Scripts {
				<script src="~/js/site.js"></script>
			}	